/*
 *
 * Tyylimäärittelyjä
 *
 * 
 *
 */

 
/* 
.box {
  display: flex;
  flex-flow: column;
  height: 100%;
} */

/* .map_container {
  height: 600px;
  /* The height is 600 pixels */
  /* width: 100%; */
  /* The width is the width of the web page */
/*} */

body {
  height: 100%;
  margin: 0
}

.app {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.app .top_bar {
  flex: 0 1 auto;
}

.app .map_container {
  flex: 1 1 auto;
  height: calc(100vh - 120px);
}

.map {
  flex: 1 1 auto;
  height: calc(100vh - 120px);
}

.info {
  background-color: rgb(255, 255, 255);
  max-width: 750px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 1;
  margin: auto;
  position: absolute;
  top: 120px;
  left: 0px;
}

/* .map {
  height: 600px; */
  /* The height is 600 pixels */
  /* width: 100%; */
  /* The width is the width of the web page */
/* } */