/*
 *
 * Tyylimäärittelyjä
 *
 * 
 *
 */

 
/* 
.box {
  display: flex;
  flex-flow: column;
  height: 100%;
} */

/* .map_container {
  height: 600px;
  /* The height is 600 pixels */
  /* width: 100%; */
  /* The width is the width of the web page */
/*} */

body {
  height: 100%;
  margin: 0
}

.app {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.app .top_bar {
  flex: 0 1 auto;
}

.app .map_container {
  flex: 1 1 auto;
  height: calc(100vh - 120px);
}

.map {
  flex: 1 1 auto;
  height: calc(100vh - 120px);
}

.info {
  background-color: rgba(0,0,0,0.8);
  max-width: calc(100vh - 50px);
  min-width: 300px;
  z-index: 1;
  height: calc(100vh - 120px);
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 120px;
  right: 0px;
}

/* .map {
  height: 600px; */
  /* The height is 600 pixels */
  /* width: 100%; */
  /* The width is the width of the web page */
/* } */