#map {
  height: 600px;
  /* The height is 600 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

.map {
  height: 600px;
  /* The height is 600 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

#popupbox {
  margin: 0; 
  margin-left: 40%; 
  margin-right: 40%;
  margin-top: 50px; 
  padding-top: 10px; 
  width: 20%; 
  height: 150px; 
  position: absolute; 
  background: #FBFBF0; 
  border: solid #000000 2px; 
  z-index: 9; 
  font-family: arial; 
  visibility: hidden; 
}

#loginlink {
  display: inline-block;
}


#closelink {
  display: inline-block;
}

#closelink:hover {
  background-color: grey;
  cursor: pointer;
}